{extend name='index/index' /}
{block name='main'}
<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="col-xs-12 col-md-9 main">
                <div class="widget-category clearfix">
                    <div class="col-sm-12">
                        <ul class="list">
                            <li  ><a href="https://wenda.tipask.com/questions/chengxushiyong">程序使用</a></li>
                            <li  ><a href="https://wenda.tipask.com/questions/bugcallback">bug反馈</a></li>
                            <li  ><a href="https://wenda.tipask.com/questions/gongnengjianyi">功能建议</a></li>
                            <li  ><a href="https://wenda.tipask.com/questions/ercikaifa">二次开发</a></li>
                            <li  ><a href="https://wenda.tipask.com/questions/jianzhanjiaoliu">建站交流</a></li>
                        </ul>
                    </div>
            </div>

            <ul class="nav nav-tabs mb-10 mt-20">
                <li  class="active"  ><a href="">最新的</a></li>
                <li ><a href="">热门的</a></li>
                <li ><a href="">悬赏的</a></li>
                <li ><a href="">未回答的</a></li>
            </ul>
            
            <div class="stream-list question-stream">
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            41<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                            <a href="{:url('index/questions/read')}" target="_blank" >看盘技术的分析该怎么培养？《爱死磕解析》</a>
                        </h2>
                        <ul class="taglist-inline ib">
                        </ul>
                    </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            30<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                        <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                        <a href="https://wenda.tipask.com/question/4777" target="_blank" >期货投资心态如何炒期货《爱死磕解析》</a>
                        </h2>
                         <ul class="taglist-inline ib">
                        </ul>
                        </div>
                </section>
                 <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            16<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4774" target="_blank" >股票有哪些特征出现的时候可以买入？《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            19<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4773" target="_blank" >尾盘的行在洗盘中预示着什么《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            16<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3566" target="_blank">shaoye001</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4772" target="_blank" >RSI指标运用原则？（爱死磕）RSI指标的优缺点？</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            18<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3585" target="_blank">猫咪没了鱼</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4771" target="_blank" >RSI指标的缺陷（爱死磕）短线卖出信号攻略？</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            28<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3587" target="_blank">起个名字真难</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4770" target="_blank" >RSI指标的应用原则？（爱死磕）RSI指标的操盘技巧？</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  answered ">
                            1<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            23<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3601" target="_blank">孤独的王</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4769" target="_blank" >RSI指标的操盘技巧（爱死磕）RSI指标的买卖信号？</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            18<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4768" target="_blank" >分时图的详细解析，股票分时图的走势分析《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            17<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3571" target="_blank">aisike</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4767" target="_blank" >低位的价格怎么买入股票？《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  answered ">
                            1<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            17<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3592" target="_blank">闯荡十分</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4765" target="_blank" >k线必涨形态图？CR指标的技巧6种</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            16<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4764" target="_blank" >均线的实战技巧是什么？简单教会你《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            17<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3571" target="_blank">aisike</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4763" target="_blank" >交易之路是非常艰辛的道路《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            20<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3605" target="_blank">小乌龟z</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4762" target="_blank" >股市中均量线的卖出法《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  solved ">
                            1<small> 解决 </small>
                        </div>
                        <div class="views hidden-xs">
                            19<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3571" target="_blank">aisike</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                        <a href="https://wenda.tipask.com/question/4761" target="_blank" >尾盘走势都有哪些类型？《爱死磕解析》</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            29<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/2320" target="_blank">JOJO</a>
                                <span class="split"></span>
                                <span class="askDate">1天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4759" target="_blank" >快乐是什么意思</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                            <li class="tagPopup"><a class="tag" target="_blank" href="https://wenda.tipask.com/topic/1451">快乐</a></li>
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            36<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3613" target="_blank">白敏娟</a>
                                <span class="split"></span>
                                <span class="askDate">2天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4758" target="_blank" >老师  左右翻页效果如何实现呢</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                            <li class="tagPopup"><a class="tag" target="_blank" href="https://wenda.tipask.com/topic/191">123</a></li>
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers ">
                            0<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            22<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3612" target="_blank">小青哥哥</a>
                                <span class="split"></span>
                                <span class="askDate">2天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4757" target="_blank" >asdasd</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  answered ">
                            2<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            36<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3592" target="_blank">闯荡十分</a>
                                <span class="split"></span>
                                <span class="askDate">2天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4756" target="_blank" >中小资金管理方法？做好短线的8原则爱死磕什么是期货？</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                    </ul>
                                            </div>
                </section>
                <section class="stream-list-item">
                    <div class="qa-rank">
                        <div class="answers  answered ">
                            1<small> 回答 </small>
                        </div>
                        <div class="views hidden-xs">
                            30<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li>
                                <a href="https://wenda.tipask.com/people/3601" target="_blank">孤独的王</a>
                                <span class="split"></span>
                                <span class="askDate">2天前</span>
                            </li>
                        </ul>
                        <h2 class="title">
                                                            <span class="text-gold"><i class="fa fa-database"></i> 5</span>
                                                        <a href="https://wenda.tipask.com/question/4755" target="_blank" >什么是止损？(爱死磕)止损的目的？</a>
                        </h2>
                                                <ul class="taglist-inline ib">
                                                            <li class="tagPopup"><a class="tag" target="_blank" href="https://wenda.tipask.com/topic/658">理财投资</a></li>
                                                    </ul>
                                            </div>
                </section>
                
            </div><!-- /.stream-list -->

            <div class="text-center">
                <ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="https://wenda.tipask.com/questions?page=2">2</a></li><li><a href="https://wenda.tipask.com/questions?page=3">3</a></li><li><a href="https://wenda.tipask.com/questions?page=4">4</a></li><li><a href="https://wenda.tipask.com/questions?page=5">5</a></li><li><a href="https://wenda.tipask.com/questions?page=6">6</a></li><li><a href="https://wenda.tipask.com/questions?page=7">7</a></li><li><a href="https://wenda.tipask.com/questions?page=8">8</a></li><li class="disabled"><span>...</span></li><li><a href="https://wenda.tipask.com/questions?page=59">59</a></li><li><a href="https://wenda.tipask.com/questions?page=60">60</a></li> <li><a href="https://wenda.tipask.com/questions?page=2" rel="next">&raquo;</a></li></ul>
            </div>
        </div><!-- /.main -->
        <div class="col-md-3 hidden-xs side">
            <div class="side-alert alert alert-warning">
                <p>今天，你的网站遇到什么问题呢？</p>
                <a href="{:url('index/UserQuestion/index')}" class="btn btn-primary btn-block mt-10">立即提问</a>
            </div>
            <div class="widget-box">
                <h2 class="h4 widget-box-title">热议话题 <a href="https://wenda.tipask.com/topics" title="更多">»</a></h2>
                <ul class="taglist-inline multi">
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/228">权限</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/437">路由</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/9">站长</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/124">问题采纳</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/287">nginx</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/382">服务器</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/125">markdown</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/151">问答</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/196">匿名</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/288">搜索引擎</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/655">安装Tipask3.0失败</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/263">tipask2.5</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/289">一键登录</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/1153">分页</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/155">tipask3.0建议</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/457">百科</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/712">文章</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/107">问答系统</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/268">防灌水</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/458">分享</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/1004">安装错误</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/243">提问</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/1158">问答社区运营</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/136">积分充值</a></li>
                                            <li class="tagPopup"><a class="tag" data-toggle="popover"  href="https://wenda.tipask.com/topic/1129">分类设置</a></li>
                                    </ul>
            </div>
            <div class="widget-box mt30">
                <h2 class="widget-box-title">
                    活跃用户
                    <a href="https://wenda.tipask.com/users" title="更多">»</a>
                </h2>
                <ol class="widget-top10">
                        <li class="text-muted">
                            <img class="avatar-32" src="picture/1_middle.jpg">
                            <a href="https://wenda.tipask.com/people/1" class="ellipsis">sdf_sky</a>
                            <span class="text-muted pull-right">13110 经验</span>
                        </li>
                        <li class="text-muted">
                            <img class="avatar-32" src="picture/454_middle.jpg">
                            <a href="https://wenda.tipask.com/people/454" class="ellipsis">楚门</a>
                            <span class="text-muted pull-right">2090 经验</span>
                        </li>
                        <li class="text-muted">
                            <img class="avatar-32" src="picture/2320_middle.jpg">
                            <a href="https://wenda.tipask.com/people/2320" class="ellipsis">JOJO</a>
                            <span class="text-muted pull-right">970 经验</span>
                        </li>
                         <li class="text-muted">
                            <img class="avatar-32" src="picture/604_middle.jpg">
                            <a href="https://wenda.tipask.com/people/604" class="ellipsis">评美帮</a>
                            <span class="text-muted pull-right">870 经验</span>
                        </li>
                       <li class="text-muted">
                            <img class="avatar-32" src="picture/146_middle.jpg">
                            <a href="https://wenda.tipask.com/people/146" class="ellipsis">张林</a>
                            <span class="text-muted pull-right">450 经验</span>
                        </li>
                       <li class="text-muted">
                            <img class="avatar-32" src="picture/3332_middle.jpg">
                            <a href="https://wenda.tipask.com/people/3332" class="ellipsis">okcgz</a>
                            <span class="text-muted pull-right">550 经验</span>
                        </li>
                        <li class="text-muted">
                            <img class="avatar-32" src="picture/331_middle.jpg">
                            <a href="https://wenda.tipask.com/people/331" class="ellipsis">望月的人</a>
                            <span class="text-muted pull-right">1030 经验</span>
                        </li>
                        <li class="text-muted">
                            <img class="avatar-32" src="picture/2464_middle.jpg">
                            <a href="https://wenda.tipask.com/people/2464" class="ellipsis">lekuhu</a>
                            <span class="text-muted pull-right">830 经验</span>
                        </li>
                </ol>
            </div>
        </div>
    </div>
    </div>
</div>

{/block}
