{extend name='index/index' /}
{block name='main'}
<script src="/static/index/tipask/js/jquery.min.js"></script>
<script src="/static/index/tipask/js/summernote.js"></script>

<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <div class="col-xs-12 col-md-9 main">
                <div class="widget-question">
                    <h4 class="title">
					<span class="text-gold" data-toggle="tooltip" data-placement="left" title="Tooltip on left">

                        {if condition='$list.gold <> 0'}
                        <i class="fa fa-database"></i>{$list.gold}
                        {/if}
					</span>
                        {$list.title}
                    </h4>
                    <ul class="taglist-inline">
                        <li class="tagPopup">
                            <a class="tag" href="https://wenda.tipask.com/topic/87">程序升级</a>
                        </li>
                    </ul>
                    <div class="description mt-10">
                        <div class="text-fmt ">
                        </div>
                        <div class="post-opt mt-10">
                            <ul class="list-inline text-muted">
                                <!--<li>-->
                                    <!--<a class="comments" data-toggle="collapse" href="#comments-question-3484" aria-expanded="false" aria-controls="comment-3484">-->
                                        <!--<i class="fa fa-comment-o"></i> 0 条评论-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li>分类：<a href="" >{$category['name']}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse widget-comments mb-20" id="comments-question-3484" data-source_type="question" data-source_id="3484">
                            <div class="widget-comment-list">
                            </div>

                            <div class="widget-comment-form row">
                                <div class="col-md-12">
                                    请先
                                    <a href="https://wenda.tipask.com/login">登录</a> 后评论
                                </div>
                            </div>

                            <div class="widget-comment-form row">
                                <form class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="content" placeholder="写下你的评论" class="form-control" id="comment-answer-content-2137"></textarea>
                                    </div>
                                </form>
                                <div class="col-md-12 text-right">
                                    <a href="https://wenda.tipask.com/question/3484#" class="text-muted collapse-cancel" data-collapse_id="comments-answer-2137">取消</a>
                                    <button type="submit" class="btn btn-primary btn-sm ml-10 comment-btn" id="answer-comment-2137-btn" data-token="SdQzJByudjcUNWgmrHGAEaAG3b8jJ1SxwU46yf9s" data-source_id="2137" data-source_type="answer" data-to_user_id="0">提交评论</button>
                                </div>
                            </div>
                            </div>
                        <div class="mb-10">
                            <div class="social-share" data-sites="weibo,qq,qzone,tencent,wechat">
                            </div>
                        </div>
                    </div>
                    {if condition='$list.status eq 1'}
                    <div class="best-answer mt-10">
                        <div class="trophy-title">
                            <h3>
                                <i class="fa fa-trophy"></i> 最佳答案
                                <span class="pull-right text-muted adopt_time">2017-04-25 02:30</span>
                            </h3>
                        </div>
                        <div class="text-fmt">
                            <p>
                                又没什么改进，急什么急
                            </p>
                        </div>
                        <!--<div class="options clearfix mt-10">-->
                            <!--<ul class="list-inline pull-right">-->
                                <!--<li class="pull-right">-->
                                    <!--<a class="comments mr-10" data-toggle="collapse" href="#comments-answer-2127" aria-expanded="false" aria-controls="comment-2127"><i class="fa fa-comment-o"></i> 6 条评论</a>-->
                                    <!--<button class="btn btn-default btn-sm btn-support" data-source_id="2127" data-source_type="answer" data-support_num="6"><i class="fa fa-thumbs-o-up"></i> 6</button>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <div class="collapse widget-comments mb-20" id="comments-answer-2127" data-source_type="answer" data-source_id="2127">
                            <div class="widget-comment-list">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="https://wenda.tipask.com/people/268" target="_blank">
                                            <img class="media-object avatar-27" alt="张子豪" src="./想问一下3.2的版本什么时候放出来啊 - Tipask站长社区_files/268_small.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <a href="https://wenda.tipask.com/people/268" target="_blank">张子豪</a>
                                            <span class="text-muted">回复 </span>
                                            <a href="https://wenda.tipask.com/people/1337" target="_blank">廖香峰SEO</a>
                                        </div>
                                        <div class="content">
                                            <p>
                                                不是一直都有金币悬赏的功能吗？
                                            </p>
                                        </div>
                                        <div class="media-footer">
                                            <ul class="list-inline text-muted">
                                                <li>
                                                    2017-03-23 14:14
                                                </li>
                                                <li>
                                                    <a href="https://wenda.tipask.com/question/3484#" class="ml-10 comment-reply" data-source_id="2127" data-to_user_id="268" data-source_type="answer" data-message="回复 张子豪"><i class="fa fa-reply"></i> 回复</a>
                                                </li>
                                                <li class="pull-right">
                                                    <button class="btn btn-default btn-xs btn-support" data-source_id="940" data-source_type="comment" data-support_num="1"><i class="fa fa-thumbs-o-up"></i> 1</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function(){
                                        $(".widget-comment-list .btn-support").on("click",function(){
                                            var btn_support = $(this);
                                            var source_type = btn_support.data('source_type');
                                            var source_id = btn_support.data('source_id');
                                            var support_num = parseInt(btn_support.data('support_num'));
                                            $.get('/support/'+source_type+'/'+source_id,function(msg){
                                                console.log(msg);
                                                if(msg =='success'){
                                                    support_num++
                                                }
                                                btn_support.html('<i class="fa fa-thumbs-o-up"></i> '+support_num);
                                                btn_support.data('support_num',support_num);
                                            });
                                        })
                                    })
                                </script>
                                <div class="text-center mb-20 mt-20">
                                </div>
                            </div>
                            <div class="widget-comment-form row">
                                <div class="col-md-12">
                                    请先
                                    <a href="https://wenda.tipask.com/login">登录</a> 后评论
                                </div>
                            </div>
                        </div>
                        <div class="media user-info border-top">
                            <div class="media-left">
                                <a href="https://wenda.tipask.com/people/60" target="_blank">
                                    <img class="avatar-40 hidden-xs" src="/static/index/tipask/picture/60_middle.jpg" alt="冰山一角"></a>
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <strong><a href="https://wenda.tipask.com/people/60" class="mr5">冰山一角</a><span class="text-gold"></span></strong>
                                </div>
                                <div class="content">
                                     回答于 2017-03-23 13:59</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                    </div>

                <div class="widget-answers mt-15">
                    <div class="btn-group pull-right" role="group">
                        <a href="https://wenda.tipask.com/question/3484" class="btn btn-default btn-xs active ">默认排序</a>
                        <a href="https://wenda.tipask.com/question/3484?sort=created_at" id="sortby-created" class="btn btn-default btn-xs ">时间排序</a>
                    </div>
                    {if condition = '$list.status eq 1'}
                    <h2 class="h4 post-title"> 其它 {$list.answer_count -1 } 个回答</h2>
                    {else /}
                    <h2 class="h4 post-title"> {$list.answer_count} 个回答</h2>
                    {/if}

                    {volist name='msg' id='vo'}
                    <div class="media">
                        <div class="media-left">
                            <a href="" class="avatar-link user-card" target="_blank">
                                <img class="avatar-40 hidden-xs" src="/static/index/tipask/picture/2327_middle.jpg" alt="{$vo.username}">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <strong>
                                    <a href="" class="mr-5 user-card">{$vo.username}</a><span class="text-gold"></span>
                                </strong>
                                <span class="answer-time text-muted hidden-xs">{:date('Y-m-d H:i:s',$vo['create_time'])}</span>
                            </div>
                            <div class="content">
                                <div class="text-fmt mt-10 mb-10">
                                   {$vo.content}
                                </div>
                            </div>
                            <div class="media-footer">
                                <ul class="list-inline mb-20">
                                    <li><a class="comments" data-toggle="collapse" href="#comments-answer-{$vo.id}" aria-expanded="false" aria-controls="comment-{$vo.id}"><i class="fa fa-comment-o"></i> {$vo.comment_count} 条评论</a></li>
                                    <!--<li><a class="btnclass comments btn{$vo.id}" href="{:url('index/Questions/answerComment',['id'=>$vo['id']])}"  btn-data="btn{$vo.id}"><i class="fa fa-comment-o"></i> {$vo.comment_count} 条评论</a></li>-->
                                    <li class="pull-right">
                                        <button class="btn btn-default btn-sm btn-support" data-source_id="{$vo.id}" data-source_type="answer" data-support_num="6"><i class="fa fa-thumbs-o-up"></i> {$vo.agree_count}</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse widget-comments mb-20" id="comments-answer-{$vo.id}" data-source_type="answer" data-source_id="{$vo.id}">
                                <!--<script src="/static/index/js/jquery.min.js"></script>-->
                                <!--<script>-->
                                    <!--$(function(){-->
                                        <!--var sss = $("li .btnclass").attr('btn-data');-->
                                        <!--console.log($(sss));-->
                                        <!--$(sss).click(function () {-->
                                            <!--console.log(11);-->
                                        <!--});-->
                                    <!--});-->

                                <!--</script>-->
                                <div class="widget-comment-list">
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <a href="https://wenda.tipask.com/people/2569" target="_blank">小卢无梦</a>
                                        </div>
                                        <div class="content">
                                            <p>
                                                啊哈哈哈
                                            </p>
                                        </div>
                                        <div class="media-footer">
                                            <ul class="list-inline text-muted">
                                                <li>
                                                    2017-05-18 09:28
                                                </li>
                                                <li>
                                                    <a href="#" class="ml-10 comment-reply" data-source_id="2130" data-to_user_id="2569" data-source_type="answer" data-message="回复 小卢无梦"><i class="fa fa-reply"></i> 回复</a>
                                                </li>
                                                <li class="pull-right">
                                                    <button class="btn btn-default btn-xs btn-support" data-source_id="1090" data-source_type="comment" data-support_num="1"><i class="fa fa-thumbs-o-up"></i> 1</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                {if condition='$info == null'}
                                <div class="widget-comment-form row">
                                    <div class="col-md-12">
                                        请先 <a  href="">登录</a> 后评论
                                    </div>
                                </div>
                                {else/}

                                <div class="widget-comment-form row">
                                    <form class="col-md-12" method="post" action="{:url('index/AskQuestion/answerComment',['id'=>$vo['id'],'uid'=>$info['id']])}">
                                        <div class="form-group">
                                            <textarea name="content" placeholder="写下你的评论" class="form-control" id="comment-answer-content-{$vo.id}"></textarea>
                                        </div>

                                    <div class="col-md-12 text-right">
                                        <a href="https://wenda.tipask.com/question/3484#" class="text-muted collapse-cancel" data-collapse_id="comments-answer-{$vo.id}">取消</a>
                                        <button type="submit" class="btn btn-primary btn-sm ml-10 comment-btn" id="answer-comment-{$vo.id}-btn" data-token="SdQzJByudjcUNWgmrHGAEaAG3b8jJ1SxwU46yf9s" data-source_id="{$vo.id}" data-source_type="answer" data-to_user_id="0">提交评论</button>
                                     </div>
                                    </form>
                                    </div>
                                {/if}
                            </div>
                        </div>
                    </div>
                    {/volist}


                    <div class="text-center">
                    </div>
                </div>
                {if condition="$info eq null"}
                <div class="widget-answer-form mt-15">
                    <div class="answer_login_tips mb-20">
                        您需要登录后才可以回答问题，
                        <a href="https://wenda.tipask.com/login" rel="nofollow">登录</a>&nbsp;或者&nbsp;<a rel="nofollow" href="https://wenda.tipask.com/register">注册</a>
                    </div>
                </div>
                {else /}
                <div class="widget-answer-form mt-15">
                    <script type="text/javascript" src="/static/index/tipask/js/jquery.min.js"></script>
                    <script type="text/javascript" src="/static/index/tipask/js/wangEditor.min.js"></script>

                    <div id="div1">
                    </div>
                    <form action="{:url('index/AskQuestion/answer',['id'=>$list['id']])}" method="post">
                        <textarea id="text1" style="width:100%; height:200px;display: none" name="content"></textarea>
                        <script type="text/javascript">
                            var E = window.wangEditor
                            var editor = new E('#div1')
                            var $text1 = $('#text1')
                            editor.customConfig.onchange = function (html) {
                                // 监控变化，同步更新到 textarea
                                $text1.val(html)
                            }
                            editor.create()
                            // 初始化 textarea 的值
                            $text1.val(editor.txt.html())
                        </script>
                        <div class="row mt-20">
                            <div class="col-xs-12 col-md-10">
                                <!--<ul class="list-inline">-->
                                    <!--<li class="checkbox"> <label><input type="checkbox" id="attendTo" name="followed" value="1" checked="">关注该问题</label></li>-->
                                <!--</ul>-->
                            </div>
                            <div class="col-xs-12 col-md-2">

                                <button type="submit" class="btn btn-primary pull-right">提交回答</button>
                            </div>
                        </div>
                    </form>
                </div>
                {/if}
            </div>



            <div class="col-xs-12 col-md-3 side">
                <div class="widget-box">
                    <ul class="widget-action list-unstyled">
                        <li>
                            <button type="button" id="follow-button" class="btn btn-success btn-sm" data-source_type ="" "question" data-source_id ="" "3484" data-show_num="true" data-toggle="tooltip" data-placement="right" title="" data-original-title="关注后将获得更新提醒">关注</button>
                            <strong id="follower-num">14</strong> 关注
                        </li>
                        <li>
                            <!--<button id="collect-button" class="btn btn-default btn-sm" data-source_type ="" "question" data-source_id ="" "3484"> 收藏</button>-->
                            <strong class="no-stress">{$list.read_count}</strong> 浏览
                        </li>
                        <li>
                            <i class="fa fa-clock-o"></i>
                            <a href="" target="_blank">{$list['nickname']}</a>
                            提出于 {$list.create_time}
                        </li>
                    </ul>
                </div>
                <!--<div class="widget-box">-->
                    <!--<h2 class="h4 widget-box__title">相似问题</h2>-->
                    <!--<ul class="widget-links list-unstyled list-text">-->
                        <!--<li class="widget-links-item">-->
                            <!--<a title="Tipask3.3新版本发布" href="https://wenda.tipask.com/question/4474">Tipask3.3新版本发布</a>-->
                            <!--<small class="text-muted">1 回答</small>-->
                        <!--</li>-->
                        <!--<li class="widget-links-item">-->
                            <!--<a title="升级更新就出错！" href="https://wenda.tipask.com/question/3682">升级更新就出错！</a>-->
                            <!--<small class="text-muted">2 回答</small>-->
                        <!--</li>-->
                        <!--<li class="widget-links-item">-->
                            <!--<a title="3.0的beta版本到时候能顺利的升级到正式版吗？" href="https://wenda.tipask.com/question/78">3.0的beta版本到时候能顺利的升级到正式版吗？</a>-->
                            <!--<small class="text-muted">4 回答</small>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>


{/block}

{block name='js'}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    var is_login = Boolean("");
</script>
<script src="js/global.js"></script>
    <script src="js/summernote.min.js"></script>
    <script src="js/summernote-zh-cn.min.js"></script>
    <script type="text/javascript" src="js/summernote-ext-attach.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        var invitation_timer = null;
        var question_id = "3484";
        $(document).ready(function() {
            
            /*回答编辑器初始化*/
            $('#answer_editor').summernote({
                lang: 'zh-CN',
                height: 160,
                placeholder:'撰写答案',
                toolbar: [ ['common', ['style','bold','ol','link','picture','attachment','video','clear','codeview','fullscreen']] ],
                callbacks: {
                    onChange:function (contents, $editable) {
                        var code = $(this).summernote("code");
                        $("#answer_editor_content").val(code);
                    },
                    onImageUpload:function(files) {
                        upload_editor_image(files[0],'answer_editor');
                    }
                }
            });

            /*评论提交*/
            $(".comment-btn").click(function(){
                var source_id = $(this).data('source_id');
                var source_type = $(this).data('source_type');
                var to_user_id = $(this).data('to_user_id');
                var token = $(this).data('token');
                var content = $("#comment-"+source_type+"-content-"+source_id).val();
                add_comment(token,source_type,source_id,content,to_user_id);
                $("#comment-content-"+source_id+"").val('');
            });


            $(".widget-comments").on('show.bs.collapse', function () {
                load_comments($(this).data('source_type'),$(this).data('source_id'));
            });

            $(".widget-comments").on('hide.bs.collapse', function () {
                clear_comments($(this).data('source_type'),$(this).data('source_id'));
            });

            /*收藏问题或文章*/
            $("#collect-button").click(function(){
                $("#collect-button").button('loading');
                var source_type = $(this).data('source_type');
                var source_id = $(this).data('source_id');
                var collection_num = $("#collection-num").html();
                $.get('/collect/'+source_type+'/'+source_id,function(msg){
                    $("#collect-button").removeClass('disabled');
                    $("#collect-button").removeAttr('disabled');
                    if(msg=='collected'){
                        $("#collect-button").html('已收藏');
                        $("#collection-num").html(parseInt(collection_num)+1);
                    }else{
                        $("#collect-button").html('收藏');
                        $("#collection-num").html(parseInt(collection_num)-1);
                    }
                });
            });

            /*采纳回答为最佳答案*/
            $(".adopt-answer").click(function(){
                var answer_id = $(this).data('answer_id');
                $("#adoptAnswerSubmit").attr('data-answer_id',answer_id);
                $("#answer_quote").html($(this).data('answer_content'));
            });

            $("#adoptAnswerSubmit").click(function(){
                document.location = "/answer/adopt/"+$(this).data('answer_id');
            });

            /*邀请回答模块逻辑处理*/
            /*私信模块处理*/

            $('#inviteAnswer').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget);
                var modal = $(this);
                loadInviteUsers(question_id,'');
                loadQuestionInvitedUsers(question_id,'part');

            });


            $("#invite_word").on("keydown",function(){
                if(invitation_timer){
                    clearTimeout(invitation_timer);
                }
                invitation_timer = setTimeout(function() {
                    var word = $("#invite_word").val();
                    console.log(word);
                    loadInviteUsers(question_id,word);
                }, 500);
            });

            $(".invite-question-list").on("click",".invite-question-item-btn",function(){
                var invite_btn = $(this);
                var question_id = invite_btn.data('question_id');
                var user_id = invite_btn.data('user_id');

                $.ajax({
                    type: "get",
                    url:"/question/invite/"+question_id+"/"+user_id,
                    success: function(data){
                        if(data.code > 0){
                            alert(data.message);
                            return false;
                        }
                        invite_btn.html('已邀请');
                        invite_btn.attr("class","btn btn-default btn-xs invite-question-item-btn disabled");
                        loadQuestionInvitedUsers(question_id,'part');
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            });

            $("#inviteAnswer").on("click","#showAllInvitedUsers",function(){
                loadQuestionInvitedUsers(3484,'all');
            });

            /*tag切换*/
            $('#inviteAnswer a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var tabBy = $(this).data("by");
                if( tabBy == 'email' ){
                    $("#inviteAnswer .modal-footer").show();
                }else{
                    $("#inviteAnswer .modal-footer").hide();
                }

            });

            /*邀请邮箱回答*/
            $("#inviteAnswer .invite-email-btn").click(function(){
                var formData = $("#inviteEmailForm").serialize();
                $.ajax({
                    type: "post",
                    url: "/question/inviteEmail/3484",
                    data:formData,
                    success: function(data){
                        if(data.code>0){
                            alert(data.message);
                        }else{
                            alert("邀请成功，邀请邮件已发送！");
                        }
                        $("#inviteAnswer").modal("hide");

                    },
                    error: function(data){
                        console.log(data);
                        alert("操作出错，请稍后再试");
                        $("#inviteAnswer").modal("hide");
                    }
                });
            });


        });


        /**
         * @param  questionId
         * @param  word
         */
        function loadInviteUsers(questionId,word){
            $.ajax({
                type: "get",
                url: "/ajax/loadInviteUsers",
                data:{question_id:questionId,word:word},
                success: function(data){
                    console.log(data);
                    var inviteItemHtml = '';
                    if(data.code > 0){
                        inviteItemHtml = '<div class="text-center" id="invite_loading"><p>暂无数据</p></div>';
                    }else{
                        $.each(data.message,function(i,item){
                            inviteItemHtml+= '<div class="col-md-12 invite-question-item">' +
                                    '<img src="'+item.avatar+'" />'+
                                    '<div class="invite-question-user-info">'+
                                    '<a class="invite-question-user-name" target="_blank" href="'+item.url+'">'+item.name+'</a>'+
                                    '<span class="invite-question-user-desc">'+item.tag_name+' 标签下有 '+item.tag_answers+' 个回答</span>'+
                                    '</div>';
                            if(item.isInvited>0){
                               inviteItemHtml += '<button type="button" class="btn btn-default btn-xs invite-question-item-btn disabled" data-question_id="3484"  data-user_id="'+item.id+'">已邀请</button>';
                            }else{
                               inviteItemHtml += '<button type="button" class="btn btn-default btn-xs invite-question-item-btn" data-question_id="3484"  data-user_id="'+item.id+'">邀请回答</button>';
                            }
                            inviteItemHtml += '</div>';
                        });
                    }
                    $("#invite_user_list").html(inviteItemHtml);
                },
                error: function(data){
                    console.log(data);
                    $("#invite_user_list").html('<div class="text-center" id="invite_loading"><p>操作出错</p></div>');

                }
            });
        }

        /*加载已被邀请的用户信息*/
        function loadQuestionInvitedUsers(questionId,type){
            $("#questionInviteUsers").load('/question/'+questionId+'/invitations/'+type);
        }

    </script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script src="js/jquery.share.min.js"></script>
{/block}
