{extend name='index/index' /}
{block name='main'}
<script src="/static/index/tipask/js/push.js"></script>
<script src="/static/index/tipask/js/hm.js"></script>
<script src="/static/index/tipask/js/jquery_002.js"></script>


<script src="/static/index/tipask/js/global.js"></script>
<script src="/static/index/tipask/js/summernote.js"></script>
<script src="/static/index/tipask/js/summernote-zh-CN.js"></script>
<script type="text/javascript" src="/static/index/tipask/js/summernote-ext-attach.js"></script>
<div class="wrap">
    <div class="container">
        <div class="row mt-10">
            <ol class="breadcrumb">
                <li><a href="https://wenda.tipask.com/questions">问答</a></li>
                <li class="active">发起提问</li>
            </ol>
            <form role='form' action="{:url('index/AskQuestion/save')}" method="post">
                <div class="form-group ">
                    <label for="title"> 请将您的问题告诉我们  :</label>
                    <input id="title" name="title" class="form-control input-lg" placeholder="请在这里概述您的问题" type="text">
                </div>
                <div id="titleSuggest" class="panel hide widget-suggest panel-default">
                    <div class="panel-body">
                        <p>
                            <strong>这些问题可能有你需要的答案</strong>
                            <button type="button" class="widget-suggest-close btn btn-default btn-xs ml-10">关闭提示</button>
                        </p>
                        <ul id="suggest-list" class="list-unstyled widget-suggest-list">
                        </ul>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="question_editor">问题描述(选填)</label>
                    <div id="question_editor" style="display: none;">
                    </div>
                    <script type="text/javascript" src="/static/index/tipask/js/jquery.min.js"></script>
                    <script type="text/javascript" src="/static/index/tipask/js/wangEditor.min.js"></script>

                    <div id="div1">
                    </div>
                    <textarea id="text1" style="width:100%; height:200px;display: none" name="content"></textarea>
                    <script type="text/javascript">
                        var E = window.wangEditor
                        var editor = new E('#div1')
                        var $text1 = $('#text1')
                        editor.customConfig.onchange = function (html) {
                            // 监控变化，同步更新到 textarea
                            $text1.val(html)
                        }
                        editor.create()
                        // 初始化 textarea 的值
                        $text1.val(editor.txt.html())
                    </script>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <select name="category_id" id="category_id" class="form-control">           {volist name='list' id='v'}
                                <option value="{$v.id}">{$v.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input id="select_tags" name="keyword" class="form-control select2-hidden-accessible" multiple="multiple" tabindex="-1" aria-hidden="true" placeholder="选择话题" >
                        </div>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-xs-12 col-md-11">
                        <ul class="list-inline">
                            <li class="pull-right">
                                <div class="form-group ">
                                    <input class="form-control" name="code" required="" placeholder="验证码" type="text">
                                    <div class="mt-10">
                                       <div class="form-group"><img src="{:captcha_src()}" alt="captcha" style="height:40px;width:150px"/></div>                                    </div>
                                </div>
                            </li>
                            <li>
                                <select name="gold">
                                    <option value="0">0</option>
                                    <option selected="selected" value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="80">80</option>
                                    <option value="100">100</option>
                                </select>
                                &nbsp;金币
                            </li>
                            <li><input name="hide" value="1" type="checkbox">&nbsp;匿名</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-1">
                        <button type="submit" class="btn btn-primary pull-right">发布问题</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
